appLogicActionRule.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
      "connection_name": {
            "defaultValue": "teams-7",
            "type": "String",
            "metadata": {
             "description": "The name must begin with a letter or number, end with a letter, number or underscore, and may contain only letters, numbers, underscores, periods, or hyphens."
            }
        },
        "appLogicName": {
            "defaultValue": "asadAlerts",
            "type": "String",
            "metadata": {
             "description": "The name can only contain letters, numbers, and '-', '(', ')', '_' or '.'"
            }
        }
  },
   "variables": {
        "actionRuleForSuppressResolvedNotification": "AssadSuppressResolvedNotificationRule"
    },
  "resources": [
      {
            "type": "Microsoft.AlertsManagement/actionRules",
            "apiVersion": "2019-05-05-preview",
            "name": "[variables('actionRuleForSuppressResolvedNotification')]",
            "location": "global",
            "properties": {
                "conditions": {
                    "monitorCondition": {
                        "operator": "Equals",
                        "values": [
                            "Resolved"
                        ]
                    }
                },
                "status": "Enabled",
                "type": "Suppression",
                "scope": {
                    "scopeType": "ResourceGroup",
                    "values": [
                       "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/',resourceGroup().name )]"
                    ]
                },
                "suppressionConfig": {
                    "recurrenceType": "Always"
                },
                "description": "This rule will supress the resolved notifications in email and ms teams"
            }
        },
         {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connection_name')]",
            "location": "eastus",
            "kind": "V1",
            "properties": {
                "displayName": "TeamsNotification",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/eastus/managedApis/teams')]"

                }
            }
        },
          {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('appLogicName')]",
            "location": "eastus",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connection_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "context": {
                                                    "properties": {
                                                        "condition": {
                                                            "properties": {
                                                                "allOf": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "dimensions": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "value": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "name",
                                                                                        "value"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "metricName": {
                                                                                "type": "string"
                                                                            },
                                                                            "metricNamespace": {
                                                                                "type": "string"
                                                                            },
                                                                            "metricValue": {
                                                                                "type": "integer"
                                                                            },
                                                                            "operator": {
                                                                                "type": "string"
                                                                            },
                                                                            "threshold": {
                                                                                "type": "string"
                                                                            },
                                                                            "timeAggregation": {
                                                                                "type": "string"
                                                                            },
                                                                            "webTestName": {}
                                                                        },
                                                                        "required": [
                                                                            "metricName",
                                                                            "metricNamespace",
                                                                            "operator",
                                                                            "threshold",
                                                                            "timeAggregation",
                                                                            "dimensions",
                                                                            "metricValue",
                                                                            "webTestName"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "windowSize": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "conditionType": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "portalLink": {
                                                            "type": "string"
                                                        },
                                                        "resourceGroupName": {
                                                            "type": "string"
                                                        },
                                                        "resourceId": {
                                                            "type": "string"
                                                        },
                                                        "resourceName": {
                                                            "type": "string"
                                                        },
                                                        "resourceType": {
                                                            "type": "string"
                                                        },
                                                        "severity": {
                                                            "type": "string"
                                                        },
                                                        "subscriptionId": {
                                                            "type": "string"
                                                        },
                                                        "timestamp": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "properties": {},
                                                "status": {
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "schemaId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Switch": {
                            "runAfter": {},
                            "cases": {
                                "Case": {
                                    "case": "ActivityFailedRuns",
                                    "actions": {
                                        "Post_a_message_(V3)": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><span style=\"font-size: 14px\"><strong>This is the alert from failed activity pipeline<br>\n&nbsp;&nbsp;<br>\nAlert name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['name']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nAlert Description: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['description']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;<br>\n&nbsp;&nbsp;&nbsp;<br>\nResourceGroup Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceGroupName']}</strong></span><span style=\"font-size: 14px\"><strong><br>\n<br>\nAlert time: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['timestamp']}</strong></span><span style=\"font-size: 14px\"><strong>&nbsp;&nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceName']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;<br>\n&nbsp;<br>\nResource Type: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceType']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;<br>\n<br>\nFailed Activity Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.condition.allOf[0].dimensions[4]['value']}</strong></span><span style=\"font-size: 14px\"><strong>&nbsp;&nbsp;<br>\n<br>\nFailed Activity Type: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</strong></span><span style=\"font-size: 14px\"><strong><br>\n<br>\nFailure Type: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}</strong></span><span style=\"font-size: 14px\"><strong>&nbsp;<br>\n</strong></span></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_2": {
                                    "case": "PipelineFailedRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><span style=\"font-size: 14px\"><strong>This is the alert from failed pipeline<br>\n&nbsp;&nbsp;<br>\nAlert name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['name']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nDescription: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['description']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;<br>\n<br>\nAlert time: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['timestamp']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceName']}</strong></span><span style=\"font-size: 14px\"><strong><br>\n<br>\nResourceGroup Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceGroupName']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;&nbsp;<br>\n&nbsp;&nbsp;&nbsp;<br>\nResource Type: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceType']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nFailed Pipeline Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</strong></span><span style=\"font-size: 14px\"><strong><br>\n<br>\nFailure Type: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}</strong></span><span style=\"font-size: 14px\"><strong></strong></span></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_3": {
                                    "case": "ActivityCancelledRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_3": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><span style=\"font-size: 14px\"><strong>This is the alert from cancellation activity pipeline<br>\n<br>\nAlert name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['name']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nDescription: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['description']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;<br>\n<br>\nAlert time: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['timestamp']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Group Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceGroupName']}</strong></span><span style=\"font-size: 14px\"><strong> <br>\n&nbsp;&nbsp;&nbsp;&nbsp;<br>\nResource Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceName']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;<br>\n&nbsp;<br>\nResource Type: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceType']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nCancelled Activity Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}</strong></span><span style=\"font-size: 14px\"><strong><br>\n<br>\nCancelled Activity Type: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</strong></span><span style=\"font-size: 14px\"><strong></strong></span></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_4": {
                                    "case": "PipelineCancelledRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_4": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><span style=\"font-size: 14px\"><strong>This is the alert notification from cancellation pipeline<br>\n&nbsp;<br>\nAlert name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['name']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nDescription: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['description']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;<br>\n<br>\nAlert time: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['timestamp']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Group Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceGroupName']}</strong></span><span style=\"font-size: 14px\"><strong><br>\n&nbsp;&nbsp;&nbsp;<br>\nResource Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceName']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Type: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody()['data']['context']['resourceType']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nCancelled Pipeline: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</strong></span><span style=\"font-size: 14px\"><strong></strong></span></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_5": {
                                    "case": "PipelineSucceededRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_5": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><span style=\"font-size: 14px\"><strong>This is the alert from the succeeded pipeline<br>\n<br>\nAlert Name: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.name}</strong></span><span style=\"font-size: 14px\"><strong><br>\n<br>\nAlert Description:</strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.description}</strong></span><span style=\"font-size: 14px\"><strong><br>\n<br>\nTime:</strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.timestamp}</strong></span><span style=\"font-size: 14px\"><strong><br>\n<br>\nResource Group:</strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.resourceGroupName}</strong></span><span style=\"font-size: 14px\"><strong><br>\n<br>\nResource : </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.resourceName}</strong></span><span style=\"font-size: 14px\"><strong><br>\n<br>\nResource Type: </strong></span><span style=\"font-size: 14px\"><strong>@{triggerBody().data.context.resourceType}</strong></span><span style=\"font-size: 14px\"><strong><br>\n</strong></span></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_6": {
                                    "case": "TriggerFailedRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_10": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>This is the alert from failed trigger pipeline<br>\n&nbsp;&nbsp;<br>\nAlert name: </strong><strong>@{triggerBody()['data']['context']['name']}</strong><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nDescription: </strong><strong>@{triggerBody()['data']['context']['description']}</strong><strong> &nbsp;&nbsp;<br>\n<br>\nAlert time: </strong><strong>@{triggerBody()['data']['context']['timestamp']}</strong><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Name: </strong><strong>@{triggerBody()['data']['context']['resourceName']}</strong><strong><br>\n<br>\nResourceGroup Name: </strong><strong>@{triggerBody()['data']['context']['resourceGroupName']}</strong><strong> &nbsp;&nbsp;&nbsp;&nbsp;<br>\n&nbsp;&nbsp;&nbsp;<br>\nResource Type: </strong><strong>@{triggerBody()['data']['context']['resourceType']}</strong><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nFailed Pipeline Name: </strong><strong>@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</strong><strong><br>\n<br>\nFailure Type: </strong><strong>@{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}</strong><strong></strong></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_7": {
                                    "case": "TriggerCancelledRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_11": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>This is the alert notification from trigger cancellation pipeline<br>\n&nbsp;<br>\nAlert name: </strong><strong>@{triggerBody()['data']['context']['name']}</strong><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nDescription: </strong><strong>@{triggerBody()['data']['context']['description']}</strong><strong> &nbsp;&nbsp;<br>\n<br>\nAlert time: </strong><strong>@{triggerBody()['data']['context']['timestamp']}</strong><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Group Name: </strong><strong>@{triggerBody()['data']['context']['resourceGroupName']}</strong><strong><br>\n&nbsp;&nbsp;&nbsp;<br>\nResource Name: </strong><strong>@{triggerBody()['data']['context']['resourceName']}</strong><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Type: </strong><strong>@{triggerBody()['data']['context']['resourceType']}</strong><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nCancelled Pipeline: </strong><strong>@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</strong><strong></strong></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@triggerBody().data.context.condition.allOf[0].metricName",
                            "type": "Switch"
                        },
                        "Switch_2": {
                            "runAfter": {},
                            "cases": {
                                "Case": {
                                    "case": "AlertOnMoreCurrentSchemaColumns",
                                    "actions": {
                                        "Post_a_message_(V3)_7": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Alert!!<br>\nCurrent schema has more columns than previous schema<br>\n<br>\nAlert name: </strong><strong>@{triggerBody()['data']['context']['name']}</strong><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nAlert Description: </strong><strong>@{triggerBody()['data']['context']['description']}</strong><strong> &nbsp;&nbsp;<br>\n&nbsp;&nbsp;&nbsp;<br>\nResourceGroup Name: </strong><strong>@{triggerBody()['data']['context']['resourceGroupName']}</strong><strong><br>\n<br>\nAlert time: </strong><strong>@{triggerBody()['data']['context']['timestamp']}</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Name: </strong><strong>@{triggerBody()['data']['context']['resourceName']}</strong><strong></strong></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_2": {
                                    "case": "AlertOnLessCurrentSchemaColumns",
                                    "actions": {
                                        "Post_a_message_(V3)_8": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Alert!!<br>\nCurrent schema has less columns than previous schema<br>\n<br>\nAlert name: </strong><strong>@{triggerBody()['data']['context']['name']}</strong><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nAlert Description: </strong><strong>@{triggerBody()['data']['context']['description']}</strong><strong> &nbsp;&nbsp;<br>\n&nbsp;&nbsp;&nbsp;<br>\nResourceGroup Name: </strong><strong>@{triggerBody()['data']['context']['resourceGroupName']}</strong><strong><br>\n<br>\nAlert time: </strong><strong>@{triggerBody()['data']['context']['timestamp']}</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Name: </strong><strong>@{triggerBody()['data']['context']['resourceName']}</strong><strong></strong></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_3": {
                                    "case": "AlertOnSameColumnsButDiffArrangement",
                                    "actions": {
                                        "Post_a_message_(V3)_9": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Alert!!<br>\nBboth schemas has same columns but different arrangement of schemas<br>\n<br>\nAlert name: </strong><strong>@{triggerBody()['data']['context']['name']}</strong><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nAlert Description: </strong><strong>@{triggerBody()['data']['context']['description']}</strong><strong> &nbsp;&nbsp;<br>\n&nbsp;&nbsp;&nbsp;<br>\nResourceGroup Name: </strong><strong>@{triggerBody()['data']['context']['resourceGroupName']}</strong><strong><br>\n<br>\nAlert time: </strong><strong>@{triggerBody()['data']['context']['timestamp']}</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Name: </strong><strong>@{triggerBody()['data']['context']['resourceName']}</strong><strong></strong></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_4": {
                                    "case": "AlertOnChangedDataType",
                                    "actions": {
                                        "Post_a_message_(V3)_6": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Alert!!<br>\nData Type of column(s) is chanaged<br>\n<br>\nAlert name: </strong><strong>@{triggerBody()['data']['context']['name']}</strong><strong> &nbsp;&nbsp;&nbsp;<br>\n<br>\nAlert Description: </strong><strong>@{triggerBody()['data']['context']['description']}</strong><strong> &nbsp;&nbsp;<br>\n&nbsp;&nbsp;&nbsp;<br>\nResourceGroup Name: </strong><strong>@{triggerBody()['data']['context']['resourceGroupName']}</strong><strong><br>\n<br>\nAlert time: </strong><strong>@{triggerBody()['data']['context']['timestamp']}</strong><strong>&nbsp;&nbsp;&nbsp;&nbsp;<br>\n<br>\nResource Name: </strong><strong>@{triggerBody()['data']['context']['resourceName']}</strong><strong></strong></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@triggerBody()?['data']?['context']?['name']",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connection_name'))]",
                                "connectionName": "parameters('connection_name')",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/eastus/managedApis/teams')]"
                            }
                        }
                    }
                }
            }
        }


  ]
}
